
.container {
  width: 100%; 
  height: 100vh;  
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.calculadora-card {
  border: 0px solid #fff;
  width: 70%;
  border-radius: 2rem;
  padding: 3rem 4rem ;
  background-color: rgba(251, 251, 251, 0.876);

  display: flex;
  align-items: center;  
  flex-direction: column;
}

.input-container {
  margin-top: 1rem;
  display: flex;
  align-items: top;
  justify-content:space-evenly;
  flex-wrap: wrap; 
  gap: 1.5rem
}

.input-item {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  flex-grow: 1;
}

.line-input-sepator {
  border-top: 1px solid;
  width: 100%;
}

.data-container {
  margin-bottom: 1rem;  
}

.table-info {
  max-width: 32rem;  
  display: flex;
  justify-content: center;
}

.not-display {
  visibility: hidden;
}

